*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.wrapper {
  max-width: 70%;
  margin: 10px auto;
  padding: 10px 20px;
  background: lightgrey;
  border-radius: 8px;
  height: auto;
}

#video {
  width: 100%;
}

video, audio {
  margin: 0 auto;
  display: block;
}

#control {
  width: 100%;
  z-index: 50;
}

#seek-bar {
  width: 100%;
  float: none;
}

#play-pause {
  float: left;
  width: 40px;
  padding: 0 10px;
}

#mute, 
#full-screen {
  width: 40px;
  float: right;
  padding: 0 10px;
}

span.highlight {
  background-color: yellow;
}